REPLICATE_SETS=""
ALLOW_ROOT_DATASETS="0"
ALLOW_RECONCILIATION="0"
RECURSE_CHILDREN="0"
SNAP_KEEP=2
SYSLOG=1
SYSLOG_FACILITY="user"
TAG="%MOY%%DOM%%CYR%_%NOW%"
LOG_FILE="autorep-%TAG%.log"
LOG_KEEP=5
LOG_BASE=""
LOGGER=$(which logger)
FIND=$(which find)
SSH=$(which ssh)
ZFS=$(which zfs)
ZFS_INCR_OPT="-I"
ZFS_SEND_OPTS=""
ZFS_RECV_OPTS="-vF"
HOST_CHECK="ping -c1 -q -W2 %HOST%"
